Repository bem/bem-xjst, pull requests merged in 2018-03, with the labels that each got.

#501 Global dot delimited deps
  lib/compiler.js
  test/api-generate-test.js
Labels: semver: patch, status: review, type: bug

#506 Docs: apply example
  docs/en/7-runtime.md
  docs/ru/7-runtime.md
Labels: scope: docs

#510 Docs: tunneling example, applyNext with changes example (fix #373)
  docs/en/6-templates-context.md
  docs/en/7-runtime.md
  docs/ru/6-templates-context.md
  docs/ru/7-runtime.md
Labels: scope: docs, status: review
